{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Hello, {{ current_user.first_name }}</h1>
</div>
{% if quiz %}
    <div class="container">
        <p class="lead fs-1 mt-4 mb-4">Here are your personalised recommendations:</p>
        <h3 class="mb-4">Feature Recommendations</h3>
    <div class="d-flex gap-3 flex-wrap">

    {% if quiz.response2 >= 2 or quiz.response3 >= 2 or quiz.response4 >= 2 or quiz.response5 >= 2 or quiz.response6 >= 2 %}
        <div class="card" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Calendar Tool</h5>
            <p class="card-text">Our calendar tool helps you to keep organised and stay on track!</p>
            <a href="{{ url_for('calendar_view') }}" class="btn btn-primary">Try it out</a>
        </div>
        </div>
    {% endif %}

    {% if quiz.response7 >= 2 %}
        <div class="card" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Budgeting Tool</h5>
            <p class="card-text">Struggling with finances? Try our budgeting tool! </p>
            <a href="{{ url_for('dashboard') }}" class="btn btn-primary">Try it out</a>
        </div>
        </div>
    {% endif %}
    </div>
    <h3 class="mt-5 mb-4">Article Recommendations</h3>
    <div class="d-flex gap-3 flex-wrap">
    {% if quiz.response1 >= 2 or quiz.response8 >= 2 or quiz.response9 >= 2  or quiz.response10 >= 2 %}
        <div class="card mb-5" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Relaxation Techniques</h5>
            <p class="card-text">Wind down with the help of our articles on relaxation!</p>
            <a href="{{ url_for('help_centre') }}" class="btn btn-primary">Read now</a>
        </div>
        </div>
    {% endif %}
    {% if quiz.response2 >= 2 or quiz.response3 >= 2 or quiz.response4 >= 2 or quiz.response5 >= 2 or quiz.response6 >= 2 %}
        <div class="card mb-5" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Organisation & Planning</h5>
            <p class="card-text">Check out our articles on organisation and planning!</p>
            <a href="{{ url_for('help_centre') }}" class="btn btn-primary">Read now!</a>
        </div>
        </div>
    {% endif %}
    {% if quiz.response7 >= 2 %}
        <div class="card mb-5" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Financial Management</h5>
            <p class="card-text">Check out our articles on financial management </p>
            <a href="{{ url_for('help_centre') }}" class="btn btn-primary">Read now</a>
        </div>
        </div>
    {% endif %}
    {% if quiz.response10 >= 2 %}
        <div class="card mb-5" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Emotional Regulation</h5>
            <p class="card-text">Take a look at our emotional regulation tips!</p>
            <a href="{{ url_for('help_centre') }}" class="btn btn-primary">Read now</a>
        </div>
        </div>
    {% endif %}
    {% if quiz.response1 >= 3 %}
        <div class="card mb-5" style="width: 18rem;">
        <img src="/static/UniSupport.svg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Managing Stress & Anxiety</h5>
            <p class="card-text">Stressed and/or anxious? Why not take a look at our articles on stress and anxiety management?</p>
            <a href="{{ url_for('help_centre') }}" class="btn btn-primary">Read now</a>
        </div>
        </div>
    {% endif %}
    </div>
    </div>
{% else %}
    <div class="container">
        <div class="card text-center">
    <div class="card-body" >
        <h5 class="card-title">Take our wellbeing quiz</h5>
        <p class="card-text">Take our quiz to receive personalised recommendations for your wellbeing</p>
        <a href="{{ url_for('start_quiz') }}" class="btn btn-primary">Take Now!</a>
    </div>
        </div>
    </div>
{% endif %}
{% endblock %}